<center>
  <img src="../images/flogo.webp" height :"150" width:"150" alt:"viz_logo" />
</center>

<center>
  <div class="rows">
    <img src="../images/autopilot.jpg" alt="centered image" />
  </div>
</center>

<div id="container" class="container"></div>
