<center>
  <img class="flogo-img" src="../images/flogo.webp" alt:"viz_logo" height:"56"
  width:"149" />
</center>
<br />
<div class="rows">
  <img
    class="img-fluid auto-logo"
    src="../images/autopilot.jpg"
    alt="centered image"
  />
</div>
